asgiref==3.10.0
dj-database-url==3.0.1
Django==4.2.26
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==23.0.0
numpy==2.0.2
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0